h1{
 
        text-align: center;
        color:saddlebrown;        
        font-family: cursive;

}
body{
        background-color: burlywood;
}

.center{
        display:block;
        margin-left: auto;
        margin-right:auto;
        width: 50%;
        
    }
h3,p,h2,li{
        text-align: center;
        color:saddlebrown;
}

