h1{
    text-align: center;
    color:wheat;
    font-family: cursive;
}
body{
    background-color:peru;
}

.center{
    display:block;
    margin-left: auto;
    margin-right:auto;
    width: 50%;
    
}
#buttons li {
    text-align: center;
    float:right;
    list-style:none;
    background-color:blanchedalmond;
    margin-right: 250px;
    width: 150px;
    line-height: 60px;
    font-family:cursive;
   
  }

  #buttons li a {
    color: black;
    display: block;
  }
  
  #buttons li a:hover {
    color: #000000;
    background-color: brown;
  }



